<div class="container-fluid">
    <h3>Change Password</h3>
    <form (ngSubmit)="onSubmit()" class="form">
    <input type="password" name="current_password" placeholder="Enter Current Password" [(ngModel)]="inputData.current_password" class="inputs"> 
    <input type="password" placeholder="Enter New Password" class="inputs"> 
    <input type="password" name="new_password" placeholder="Re Enter New Password" [(ngModel)]="inputData.new_password" class="inputs">
    <input type="submit">
</form>
</div>
